<ion-view title="Main">
  <!-- Tabs Container- START-->
  <ion-tabs class="tabs-stable tabs-icon-top">

    <!-- Home Tab button-->
    <ion-tab title="Trending Photos" icon="ion-arrow-graph-up-right" href="#/main/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <!-- Camera Tab button-->
    <ion-tab title="Camera" icon="ion-ios-camera" href="#/main/camera">
      <ion-nav-view name="camera-tab"></ion-nav-view>
    </ion-tab>

    <!-- Map Tab Button -->
    <ion-tab title="Map" icon="ion-map" href="#/main/map">
      <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>


  </ion-tabs>
</ion-view>
